
<!DOCTYPE html>
<html lang="id">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MSV35V2');
    </script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="amphtml" href="https://refjtid.yuklihat.click/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_token" content="eFCrB48md3HT4sbojK04bc2RWdpYpaDYbNZSXipR">
    <meta name="csrf-token" content="eFCrB48md3HT4sbojK04bc2RWdpYpaDYbNZSXipR">
    <meta name="host" content="">
    <meta name="app_url" content="https://jet88-linkterbaru.shop/">
    <meta property="og:url" content="https://jet88-linkterbaru.shop/" />
    <meta property="og:site_name" content="Slot Gacor" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand" />
    <meta property="og:description" content="JET88 adalah link terbaru di situs slot gacor maxwin dengan permainan gampang menang pada akun pro thailand di server luar negeri yang memiliki keungulan terbaik seperti game gampang menang dan gacor di slot thailand hari ini pada tahun 2024.." />
    <meta property="og:image" content="https://i.ibb.co/YXrL8br/zeus91.webp" />
    <link rel="stylesheet" href="https://raw.githubusercontent.com/veteran888/assets/main/style.css">
    <meta name="description" content="JET88 adalah link terbaru di situs slot gacor maxwin dengan permainan gampang menang pada akun pro thailand di server luar negeri yang memiliki keungulan terbaik seperti game gampang menang dan gacor di slot thailand hari ini pada tahun 2024..">
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/3yhXBYY/jett.png" />
    <title>JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L5PKFZXB4Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-L5PKFZXB4Q');
    </script>
    <style>
      .loader-container {
        background: #fff;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
      }

      .loader-container .loader {
        display: block;
        position: absolute;
        font-size: 0;
        color: #f36b21;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
      }

      .loader-container .loader img {
        display: block;
        width: 100%;
      }
    </style>
    <!-- End Facebook Pixel Code -->
    <style type="text/css">
      .product_description_content {
        overflow: scroll;
      }
    </style>
  </head>
  <body class="nav-md">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THSMWWP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="storelogy-blockout">
      <div class="loading-layout-fullblock">
        <div class="loading" style="background-image:url('https://www.elementbike.id/frontend/images/ajax-loader.gif');" data-content="MEMUAT"></div>
      </div>
      <!-- main container of all the page elements -->
      <div id="wrapper">
        <!-- top navigation -->
        <header id="default-header" class="style19">
          <!-- mt top bar start here -->
          <div class="default-top-bar">
            <div class="container">
            </div>
          </div>
          <!-- mt top bar end here -->
          <div class="container">
            <!-- mt bottom bar start here -->
            <div class="default-bottom-bar">
              <div class="row">
                <div class="col-xs-12">
                  <!-- mt top social start here -->
                  <div class="col-xs-2">
                    <ul class="default-top-social social-network">
                      <li>
                        <a href="https://refjtid.yuklihat.click/">
                          <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://refjtid.yuklihat.click/">
                          <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://refjtid.yuklihat.click/">
                          <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                    <!-- mt top social end here -->
                  </div>
                  <div class="col-xs-8">
                    <div class="default-logo frontend-logo">
                      <a href="https://jet88-linkterbaru.shop/">
                        <img src="https://i.ibb.co/3yhXBYY/jett.png" style="    
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height:auto;
                max-height:100%" />
                      </a>
                    </div>
                  </div>
                  <!-- mt icon list start here -->
                  <div class="col-xs-2">
                    <ul class="default-icon-list">
                      <li class="hidden-lg hidden-md">
                        <a href="javascript:void(0)" class="bar-opener mobile-toggle">
                          <span class="bar"></span>
                          <span class="bar small"></span>
                          <span class="bar"></span>
                        </a>
                      </li>
                      <!-- <li id="iconSearch"><a href="javascript:void(0)" class="icon-magnifier"></a></li> -->
                      <li>
                        <a href="javascript:void(0)" id="search-button" class="icon-magnifier"></a>
                        <form action="https://jet88-linkterbaru.shop/" method="GET" id="form-search" class="navbar-form navbar-right navbar-form-search">
                          <div class="search-form-container hdn" id="search-input-container">
                            <div class="search-input-group">
                              <div class="form-group">
                                <input type="text" id="input-product-search" name="product" placeholder="Search product." class="form-control">
                              </div>
                            </div>
                          </div>
                        </form>
                      </li>
                      <li class="drop">
                        <a href="javascript:void(0)" class="icon-heart cart-opener custom" id="btn-notif-wishlist">
                          <span style="margin-bottom: -3px; display:none;" class="num" id="wishlist-count">0</span>
                        </a>
                        <!-- mt drop start here -->
                        <div class="default-drop">
                          <!-- mt drop sub start here -->
                          <div class="default-drop-sub">
                            <!-- mt side widget start here -->
                            <div class="default-side-widget" id="notif-wishlist-area"></div>
                            <!-- mt side widget end here -->
                          </div>
                          <!-- mt drop sub end here -->
                        </div>
                        <!-- mt drop end here -->
                        <span class="default-mdropover"></span>
                      </li>
                      <li class="drop">
                        <a class="cart-opener custom" id="btn-notif-cart">
                          <span class="icon-handbag"></span>
                          <span class="num" id="cart-count" style="display: none;">0</span>
                        </a>
                        <!-- mt drop start here -->
                        <div class="default-drop">
                          <!-- mt drop sub start here -->
                          <div class="default-drop-sub">
                            <!-- mt side widget start here -->
                            <div class="default-side-widget" id="notif-cart-area"></div>
                            <!-- mt side widget end here -->
                          </div>
                          <!-- mt drop sub end here -->
                        </div>
                        <!-- mt drop end here -->
                        <span class="default-mdropover"></span>
                      </li>
                    </ul>
                    <!-- mt icon list end here -->
                  </div>
                </div>
              </div>
              <!-- mt bottom bar start here -->
            </div>
            <!-- mt nav holder start here -->
            <div class="default-nav-holder text-center">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- navigation start here -->
                    <nav id="nav">
                      <ul>
                        <li>
                          <a class="drop-linkz " href="https://jet88-linkterbaru.shop/">home </a>
                        </li>
                        <li>
                          <a href="https://jet88-linkterbaru.shop/" class="active">Product </a>
                        </li>
                        <li>
                          <a class="drop-linkz " href="https://jet88-linkterbaru.shop/">Blog</a>
                        </li>
                        <li>
                          <a href="https://jet88-linkterbaru.shop/" class="">About</a>
                        </li>
                        <li>
                          <a class="drop-linkz " href="https://jet88-linkterbaru.shop/">Contact </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- mt icon list end here -->
                  </div>
                </div>
              </div>
            </div>
            <!-- mt nav holder end here -->
            <!-- mt side menu start here -->
            <!-- <div class="default-side-menu"><div class="default-holder"><a href="javascript:void(0)" class="side-close"><span></span><span></span></a><strong class="default-side-title">MY ACCOUNT</strong><div class="default-side-widget"><header><span class="default-side-subtitle">SIGN IN</span><p>Welcome back! Sign in to Your Account</p></header><form action="#"><fieldset><input type="text" placeholder="Username or email address" class="input"><input type="password" placeholder="Password" class="input"><div class="box"><span class="left"><input class="checkbox" type="checkbox" id="check1"><label for="check1">Remember Me</label></span><a href="javascript:void(0)" class="help">Help?</a></div><button type="submit" class="btn-type1">Login</button></fieldset></form></div><div class="or-divider"><span class="txt">or</span></div><div class="default-side-widget"><header><span class="default-side-subtitle">CREATE NEW ACCOUNT</span><p>Create your very own account</p></header><form action="#"><fieldset><input type="text" placeholder="Username or email address" class="input"><button type="submit" class="btn-type1">Register</button></fieldset></form></div></div></div> -->
            <span class="default-side-over"></span>
        </header>
        <!-- mt search popup start here -->
        <!-- <div class="default-search-popup"><div class="default-holder"><a href="javascript:void(0)" class="search-close"><font style="position: absolute;top: 15px;left: -7px;">Cancel</font><span></span><span></span></a><div class="default-frame"><form action="https://jet88-linkterbaru.shop/" method="GET" id="form-search"><fieldset><input type="text" id="input-product-search" name="product" placeholder="Cari nama produk.." /><span hidden class="icon-microphone"></span><button class="icon-magnifier" type="submit"></button></fieldset></form></div></div></div> -->
        <!-- mt search popup end here -->
        <!-- /top navigation -->
        <!-- page content -->
        <div role="main">
          <main id="default-main" data-group="product" data-title="product-detail-page" data-detail-id="280" data-use-variant="1" data-use-inventory="1" data-keep-buying="0" data-stock="0" data-use-wholesale="0">
            <section class="default-product-detail">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="slider slider-hidden">
                      <ul class="list-unstyled comment-list">
                        <!-- <li><a href="#"><i class="fa fa-heart"></i>27</a></li><li><a href="#"><i class="fa fa-comments"></i>12</a></li><li><a hidden href="#"><i class="fa fa-share-alt"></i>14</a></li> -->
                      </ul>
                      <div class="product-slider">
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                        <div class="slide">
                          <img class="big-img" src="https://i.ibb.co/YXrL8br/zeus91.webp" data-zoom-image="https://i.ibb.co/YXrL8br/zeus91.webp" alt="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand">
                        </div>
                      </div>
                      <ul class="list-unstyled pagg-slider ">
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                        <li>
                          <div class="img">
                            <img src="https://i.ibb.co/YXrL8br/zeus91.webp" class="otherimage">
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="detail-holder">
                      <!-- <ul class="list-unstyled breadcrumbs"><li><a href="#">Chairs <i class="fa fa-angle-right"></i></a></li><li>Products</li></ul> -->
                      <h2 id="name-product">JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand</h2>
                      <!-- <div class="rank-rating"><ul class="list-unstyled rating-list"><li><a href="#"><i class="fa fa-star"></i></a></li><li><a href="#"><i class="fa fa-star"></i></a></li><li><a href="#"><i class="fa fa-star"></i></a></li><li><a href="#"><i class="fa fa-star-o"></i></a></li></ul><span class="total-price">lang("main.Reviews") (12)</span></div> -->
                      <div class="text-holder hidden-while-not-active">
                        <span class="price before-price" style="display:none;padding-right:5px">
                          <del>Rp 10.000,00</del>
                        </span>
                        <span class="price after-price" style="display: inline-block;" data-price="10000" data-wholesale-id=""> Rp - </span>
                        <div id="wholesale-list-hidden" class="hidden"></div>
                      </div>   
                      <div class="txt-wrap product_description">
                        <div class="col-sm-12 col-md-12 col-xs-12" style="padding-left:0">
                          <p><a title="Daftar Slot Gacor" href="https://daftar.tv/jet88?utm_medium=SEOID/"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/S7DLLyF/daftar.gif" width="343" height="76"></a></p>
                            <h1>JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand</h1>
                            <p>JET88 adalah link terbaru di situs slot gacor maxwin dengan permainan gampang menang pada akun pro thailand di server luar negeri yang memiliki keungulan terbaik seperti game gampang menang dan gacor di slot thailand hari ini pada tahun 2024.</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="list-price">
                      <span data-var="" data-before="10000" data-after="10000" data-weight="19390" data-use-wholesale="0" data-use-inventory="1" data-qty-stock="0" data-keep-buying="0"></span>
                      <span data-var="Black Orange" data-before="10000" data-after="10000" data-weight="17250" data-use-wholesale="0" data-use-inventory="1" data-qty-stock="3" data-keep-buying="0"></span>
                      <span data-var="Turquoise Silver" data-before="10000" data-after="10000" data-weight="17250" data-use-wholesale="0" data-use-inventory="1" data-qty-stock="3" data-keep-buying="0"></span>
                      <span data-var="Yellow Black" data-before="10000" data-after="10000" data-weight="19390" data-use-wholesale="0" data-use-inventory="1" data-qty-stock="3" data-keep-buying="0"></span>
                      <span data-var="SIlver Black" data-before="10000" data-after="10000" data-weight="19390" data-use-wholesale="0" data-use-inventory="1" data-qty-stock="3" data-keep-buying="0"></span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- <div class="product-detail-tab wow fadeInUp" data-wow-delay="0.4s"><div class="container"><div class="row"><div class="col-xs-12"><ul class="default-tabs text-center text-uppercase"><li><a href="#tab1" class="active">DESKRIPSI</a></li><li><a href="#tab2">INFORMASI</a></li><li><a href="#tab3">ULASAN (12)</a></li></ul><div class="tab-content"><div id="tab1"><p>Lorem ipsum</p></div><div id="tab2"><p>Dolor sit amet</p></div><div id="tab3"><div class="product-comment"><div class="default-box"><div class="default-hold"><ul class="default-star"><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star-o"></i></li></ul><span class="name">John Wick</span><time datetime="2016-01-01">09:10 Nov, 19 2016</time></div><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p></div><div class="default-box"><div class="default-hold"><ul class="default-star"><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li></ul><span class="name">John Wick</span><time datetime="2016-01-01">09:10 Nov, 19 2016</time></div><p>Usmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p></div><form action="#" class="p-commentform"><fieldset class="hidden"><h2>Tambah Komentar</h2><div class="default-row"><label>Rating</label><ul class="default-star"><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li></ul></div><div class="default-row"><label>Nama</label><input type="text" class="form-control"></div><div class="default-row"><label>E-Mail</label><input type="text" class="form-control"></div><div class="default-row"><label>Ulasan</label><textarea class="form-control"></textarea></div><button type="submit" class="btn-type4">TAMBAH ULASAN</button></fieldset></form></div></div></div></div></div></div></div> -->

            <input type="hidden" id="product_price" value="10000" />
            <input type="hidden" id="product_id" value="280" />
            <input type="hidden" id="product_sku" value="AKFR.2007" />
            <input type="hidden" id="product_name" value="JET88: Link Slot Gacor Terbaru Hari Ini JP Maxwin & Akun Pro di Server Slot Thailand" />
            <input type="hidden" id="product_category" value="Slot Gacor" />
            <input type="hidden" id="product_use_variant" value="1" />
          </main>
        </div>
      </div>
    </div>
    <div id="loading-blockout" class="loading-layout-fullblock loading-blockout hidden"></div>
    <!-- Custom Theme Style -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic%7cMontserrat:400,700%7cOxygen:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://www.elementbike.id/frontend/css/jquery-ui.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//min.gitcdn.xyz/repo/DoclerLabs/Protip/master/protip.min.css"> -->
    <link rel="stylesheet" href="https://www.elementbike.id/vendors/animsition/css/animsition.min.css">
    <!-- Custom Theme Style -->
    <!-- Custom Theme Scripts -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://www.elementbike.id/frontend/js/jquery.js"></script>
    <script defer src="https://www.elementbike.id/frontend/js/jquery-ui.min.js"></script>
    <!-- include jQuery -->
    <script defer src="https://www.elementbike.id/frontend/js/plugins.min.js"></script>
    <!-- include jQuery -->
    <script defer src="https://www.elementbike.id/frontend/js/jquery.main.min.js"></script>
    <!-- <script defer src="https://www.elementbike.id/frontend/js/jssor.slider.min.js"></script> -->
    <script defer src="https://www.elementbike.id/frontend/js/jquery-elevatezoom.min.js"></script>
    <script defer src="https://www.elementbike.id/frontend/js/dropzone.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallbackRecaptcha&render=explicit" async defer></script>
    <!-- <script defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDmK86zkGzeC9jfNWy_Cy77S2_id13OV8s"></script> -->
    <script defer src="https://app.midtrans.com/snap/snap.js" data-client-key="Mid-client-n-EDCTgMNxci6GdR"></script>
    <!-- <script defer src="//min.gitcdn.xyz/repo/DoclerLabs/Protip/master/protip.min.js"></script> -->
    <script src="https://www.elementbike.id/vendors/animsition/js/animsition.min.js"></script>
    <script defer>
      try {
        $.protip({
          position: "top",
        });
      } catch (e) {}
    </script>
    <script type="text/javascript">
      var onloadCallbackRecaptcha = function() {
        var element = document.getElementById("hidden_recaptcha");
        if (typeof(element) != "undefined" && element != null) {
          grecaptcha.render("hidden_recaptcha", {
            "sitekey": "6LfauYsUAAAAAH53euEmXzw4gXRVtedwKReS1THo",
          });
          resizeReCaptcha();
        }
      };

      function resizeReCaptcha() {
        var width = $("#hidden_recaptcha").parent().width();
        var scale = width / 302;
        $("#hidden_recaptcha").css("transform", "scale(" + scale + ")");
        $("#hidden_recaptcha").css("-webkit-transform", "scale(" + scale + ")");
        $("#hidden_recaptcha").css("transform-origin", "0 0");
        $("#hidden_recaptcha").css("-webkit-transform-origin", "0 0");
      };
    </script>
    <script>
      var phpJsLang = {
        validator: {
          invalid: "Isian tidak valid",
          checked: "Harus dicentang",
          empty: "Kolom ini harus diisi",
          min: "Isian terlalu sedikit",
          max: "Isian terlalu panjang",
          number_min: "Angka yang dimasukkan terlalu kecil",
          number_max: "Angka yang dimasukkan terlalu besar",
          url: "Format URL salah",
          number: "Isian harus angka",
          email: "Format alamat email salah",
          email_repeat: "Alamat email tidak cocok",
          password_repeat: "Password tidak sama",
          repeat: "Tidak sama",
          complete: "Isian tidak lengkap",
          select: "Silahkan pilih dari pilihan yang tersedia",
          date: "Format tanggal tidak valid"
        },
      };
      var phpJsLangx = {
        YouMustCheckThisCheckbox: "You must check this checkbox to continue.",
        NoProductYet: "No product yet.",
        ClickThisButtonToResend: "Click this button to resend your activation email",
        ResendEmail: "Resend email.",
        Available: "Available",
        SoldOut: "Sold out",
        Success: "Success",
        InsufficientStock: "Product Stock Insufficient",
        ProductHasBeenAdded: "Product has been added.",
      }
    </script>
    <script defer src="https://www.elementbike.id/themes/default/assets/dist/js/scripts.js"></script>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSV35V2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  </body>
</html>
